<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../../../assets/styles/style.css" rel="stylesheet">
    <title>PassManager</title>
</head>

<body class="body-no-scroll">
<header>
    <nav>

    </nav>
</header>
<main>
    <div class="section-wrapper">
        <section class="section-red">
            <div class="logo-pm">
                <p class="logo-text">PassManager</p>
                <img alt="Логотип PassManager" class="logo-img" src="../../../../assets/images/logoPm.png"/>
            </div>
        </section>
        <section class="section-black">
            <h1 class="page-name">Add new passwords</h1>
            <article class="account-passwords">
                <img alt="Facebook" src="../../../../assets/icons/icon-fb.png" width="50px">
                <input class="slim-input" id="fb-id" placeholder="****************" type="text">
                <input class="slim-input" id="fb-id" placeholder="****************" type="text">
                <button class="add-pass" onclick="addPassword()">Add</button>
            </article>
            <article class="account-passwords">
                <img alt="Instagram" src="../../../../assets/icons/icon-inst.png" width="50px">
                <input class="slim-input" id="fb-id" placeholder="****************" type="text">
                <input class="slim-input" id="fb-id" placeholder="****************" type="text">
                <button class="add-pass" onclick="addPassword()">Add</button>
            </article>
            <article class="account-passwords">
                <img alt="Google" src="../../../../assets/icons/icon-google.png" width="50px">
                <input class="slim-input" id="fb-id" placeholder="****************" type="text">
                <input class="slim-input" id="fb-id" placeholder="****************" type="text">
                <button class="add-pass" onclick="addPassword()">Add</button>
            </article>
            <a class="link-btn home-link-btn" href="manager.html">Go back</a>
        </section>
    </div>
</main>
<footer>

</footer>
</body>

</html>