<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../../../assets/styles/style.css" rel="stylesheet">
    <title>PassManager</title>
</head>

<body class="body-no-scroll">
<header>
    <nav>

    </nav>
</header>
<main>
    <div class="section-wrapper">
        <section class="section-red">
            <p class="logo-text">PassManager</p>
            <img alt="Логотип PassManager" class="logoPm" src="../../../../assets/images/logoPm.png"/>
        </section>
        <section class="section-black">
            <article class="account-passwords">
                <img alt="Facebook" src="../../../../assets/icons/icon-fb.png" width="50px">
                <label for="fb-id">
                    <input class="slim-input" id="fb-id" placeholder="****************" type="text">
                    <button class="add-pass" onclick="addPassword()">Add</button>
                </label>
            </article>
            <article class="account-passwords">
                <img alt="Instagram" src="../../../../assets/icons/icon-inst.png" width="50px">
                <label for="inst-id">
                    <input class="slim-input" id="inst-id" placeholder="****************" type="text">
                    <button class="add-pass" onclick="addPassword()">Add</button>
                </label>
            </article>
            <article class="account-passwords">
                <img alt="Google" src="../../../../assets/icons/icon-google.png" width="50px">
                <label for="google-id">
                    <input class="slim-input" id="google-id" placeholder="****************" type="text">
                    <button class="add-pass" onclick="addPassword()">Add</button>
                </label>
            </article>
            <a class="link-btn home-link-btn" href="manager.html">Go back</a>
        </section>
    </div>
</main>
<footer>

</footer>
</body>

</html>