<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../../../assets/styles/style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
<main class="main-account">
    <section class="section-wrapper">
        <section class="section-red">
            <div class="logo-pm">
                <p class="logo-text">PassManager</p>
                <img alt="Логотип PassManager" class="logo-img" src="../../../../assets/images/logoPm.png"/>
            </div>
            <div class="login-option">
                <p><a href="registration.html">Registration</a></p>
                <p>|</p>
                <p style="font-weight: 700;"><a href="authorisation.html">Authorisation</a></p>
            </div>
        </section>
        <section class="section-black">
            <h1 class="page-name">Log in your account</h1>
            <form class="form-wrapper" id="authFormId">
                <input class="wide-input" id="usernameIdAuth" placeholder="Username" type="text">
                <input class="wide-input" id="passwordIdAuth" placeholder="Password" type="password">
                <button class="action-btn log-in-btn" id="logInBtnId">Log in</button>
                <p><a href="404.html">Have a problem with logging in?</a></p>
            </form>
        </section>
    </section>
</main>
<footer>
</footer>
<script src="../../../../scripts/authScript.js"></script>
</body>

</html>