<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../../../assets/styles/style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body class="body-no-scroll" style="background-color: #22222e">
<main>
    <section class="section-error">
        <h1>Error 404</h1>
        <p>Page not found</p>
        <a class="link-btn" href="index.html">Back to home</a>
    </section>
</main>
</body>

</html>