<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../assets/styles/style.css">
    <title>Document</title>
</head>

<body>
    <header>PassManager
        <nav>
            <ul>
                <li><a href="#home-id">Home</a></li>
                <li><a href="#about-us-id">About us</a></li>
                <li><a href="#contacts-id">Contacts</a></li>
                <li><a href="#manage-id">Manage</a></li>
                <li><a href="registration.html">Account</a></li>
            </ul>
        </nav>
    </header>
    <section class="section-home" id="home-id">Тут має бути опис нашого додаnку картинки хуїнки</section>
    <section class="section-about-us" id="about-us-id">Тут карочє має бути про нас шось тіпа хто ми є чи шо</section>
    <section class="section-contacts" id="contacts-id">Тут мають бути контакти ну шось напишеш</section>
    <section class="section-manage" id="manage-id">Тут влупи кнопку яка буде завантажувати manager.html(шось там ше
        допиши туда сюда для наповнення) заюзай .link-btn, мб простайли додатково</section>
    <footer>Contacts bla bla</footer>
</body>

</html>