<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../../../assets/styles/style.css" rel="stylesheet">
    <title>PassManager</title>
</head>

<body class="body-no-scroll">
<main>
    <div class="section-wrapper">
        <section class="section-red">
            <div class="logo-pm">
                <p class="logo-text">PassManager</p>
                <img alt="Логотип PassManager" class="logo-img" src="../../../../assets/images/logoPm.png"/>
            </div>
        </section>
        <section class="section-black">
            <a class="link-btn" href="view.html">View my passwords</a>
            <a class="link-btn" href="add.html">Add new account</a>
            <a class="link-btn" href="edit.html">Edit my accounts</a>
            <a class="link-btn home-link-btn" href="index.html">Back to home</a>
        </section>
    </div>
</main>
<footer>

</footer>
</body>

</html>