<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="../../../../assets/styles/style.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
<main class="main-account">
    <section class="section-wrapper">
        <section class="section-red">
            <div class="login-option">
                <p style="font-weight: 700;"><a href="registration.html">Registration</a></p>
                <p>|</p>
                <p><a href="authorisation.html">Authorisation</a></p>
            </div>
        </section>
        <section class="section-black">
            <form action="">
                <input class="wide-input" id="" name="" placeholder="Username" type="text">
                <input class="wide-input" placeholder="Password" type="password">
                <input class="wide-input" placeholder="Repeat password" type="password">
                <div class="action-btn sign-up-btn">
                    <button>Sign up
                </div>
                </span>
            </form>
            <p><a href="error.html">Have a problem with signing up?</a></p>
        </section>
    </section>
</main>
<footer>
</footer>
</body>

</html>